@media only screen and (min-width: 300px ) {

    
    .tab_st5 tr th {
    padding-top: 30px;
    padding-bottom: 28px;
        }
  
        
    .tab_st5 {
        font-size:20px;
    }
    
   
    
}
@media only screen and (min-width: 800px ) {
    
    .tab_st5 tr th {
    padding-top: 35px;
    padding-bottom: 33px;
        }
        
     .tab_st5 {
        font-size:22px;
      }   
        
     
    
}
@media only screen and (min-width: 1200px ) {
        .tab_st5 {
        font-size:23px;
        }   
}

