html, body {
    
    height: 100%;
}
body {
    font-family: 'Conv_SFUIText-RegularG3'; 
}
h2 {
    font-size:18px;
}
h3 {
    font-size:14px;
}



 .row:before,  .row:after {
    display:table;
    content:'';
}
 .row:after {
    clear:both;
}


body.login_page {
    background-color:#f4f4f4;
    background-image:url('../img/bg.png');
    background-repeat:repeat;
}

.wrapper {
    min-width:1024px;
    max-width:1600px;
    margin:0 auto;
    min-height: 100%;
    position: relative;
}

.wrapper.cust_w1 {
    min-width:1200px;
    max-width:inherit;
}
.wrap02 {
     margin:0 auto;
     min-height: 100%;
}
.wrap02.plan {
   
}

.content.spone {
    padding-bottom:60px;
}


.footer {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
}
.footer.spone {
    height:60px; 
}
.barrower {
    float:left;
    margin-right:20px;
}
.barrower:before, .barrower:after {
    content:'';
    display:table;
}
.barrower:after {
    clear:both;
}
.logform  {
    padding-top:90px;
    margin:0px 0px 0px 0px;
    text-align:center;
}

.logform .form {
    position:relative;
    padding:0px 0px 0px 0px;
    margin:0 auto;
    width:484px;
    width: 251px;
    box-sizing:border-box;
}
.logform .pick {
    display:block;
}
.logform .pick img  {
    max-width:100%;
    height:auto;
    margin:0px 0px 10px 0px;
}

.logform .form input[type=text], .logform .form input[type=password] {
    letter-spacing: 1px;
    font-family: 'Conv_SFUIText-BoldG1';
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    color: #b8c3c9; 
    display: inline-block;
    font-size: 12px;
    height: 42px;
    padding: 10px 40px 10px 12px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    width:100%;
    margin:15px auto 15px auto;
    box-sizing:border-box;
    background-repeat: no-repeat;
    vertical-align: middle;
    
   
}
.logform .form input[type=password] {
    font-size:14px;
}
.logform .form .note {
    width:calc(100% - 287px);
    float:left;
    margin:0px 0px 0px 0px;
    position: static;
   
}
.logform .form .note .innote {
    color:#ff9797;
    font-size:11px;
    font-family: 'Conv_SFUIText-Italic';
    padding:8px 10px;
    text-align:left;
    border:1px solid #ff9797;
    border-radius:3px;
    line-height: 1.2em;
        
    width:162px;
    position: absolute;
    top: 50%;
    left:260px;
    -webkit-transform: translate(-0%,-50%); 
    transform: translate(-0%, -50%) 
}
.tooltiper {
    
}

.logform .form .innote:before {
    content:'';
    position:absolute;
    top:50%;
    margin-top:-7px;
    left:-6px;
    display:block;
    width:8px;
    height:14px;
    background:url(../img/mescorn.png) 0 0px no-repeat;
}
.logform .form .ic_pswd {
      cursor: pointer;
      position: absolute;
      top: 29px;
      right: 9px;
}
.logform .form .line {
    position:relative;
}
.logform .form input[type=text]:focus, .logform .form input[type=password]:focus   {
      color:#919191;
      border-color:#bdc9d3;
}
.logform .form input[type=text]:focus::-webkit-input-placeholder, .logform .form input[type=password]:focus::-webkit-input-placeholder  {
     color:#919191;

} 
.logform .form input[type=text].error {
    border-color:#e9acac;
}

.logform .form input.ulogin {
   
    background-position:16px center;
}

.logform .form input[type=text]::-webkit-input-placeholder, .logform .form input[type=password]::-webkit-input-placeholder {color:#b8c3c9;   opacity:1;}
.logform .form input[type=text]::-moz-placeholder, .logform .form input[type=password]::-moz-placeholder           {color:#b8c3c9;   opacity:1;}/* Firefox 19+ */
.logform .form input[type=text]:-moz-placeholder, .logform .form input[type=password]:-moz-placeholder            {color:#b8c3c9;   opacity:1;}/* Firefox 18- */
.logform .form input[type=text]:-ms-input-placeholder, .logform .form input[type=password]:-ms-input-placeholder      {color:#b8c3c9;   opacity:1;}
.logform .form input[type=submit], .bttn {
    -webkit-box-shadow:0px 2px 0px #263f79;
    box-shadow:0px 2px 0px #263f79;
    display:inline-block;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-family: 'Conv_SFUIText-BoldG1';
}
.logform .form input[type=submit] {
    padding:12px 48px 14px 48px;
    margin: 13px auto 0 auto;
}
.logform .form input[type=submit], .bttn  {
        background:#97b5ea;
    }
    
    .bttn_2 {
        letter-spacing: 1px;
        padding:9px 11px;
        text-transform: uppercase;
        text-decoration: none;
        display:inline-block;
        font-family: 'Conv_SFUIText-BoldG1';
        border-radius: 4px;
        font-size:12px;
    }
    .bttn_2.lightblue {
        background-color:transparent;
        color:#97b5ea;
        border:1px solid #97b5ea; 
    }
    .bttn.black {
        -webkit-box-shadow:0px 2px 0px #191c26;
        box-shadow:0px 2px 0px #191c26;
        background:#3f4352;
    }
    .logform .form input[type=submit]:focus, .bttn:focus   {
    background:#6c91d1 !important; 
    }
    .bttn.black:focus {
        background:#3f4352 !important;
    }
    .logform .form input[type=submit]:active, .bttn:active {
        background:#6c91d1 !important; 
    }

    .logform .form input[type=submit]:hover, .bttn:hover {
        background:#6c91d1;
    }
    .logform .form input[type=submit]:focus, .bttn:focus {
        -webkit-box-shadow:0px -2px 0px #263f79;
        box-shadow:0px -2px 0px #263f79;
    }
    
    .buts.alcenter, .cntp {
        text-align:center;
    }
  
    
    .buts.alleft {
        text-align:left;
    }
    .buts.alright {
        text-align:right;
    }
    .buts {
        margin:20px 0px 20px 0px;
    }
    .buts.mar_02 {
        margin:0px 0px 20px 0px;
    }
    .buts.mar_04 {
        margin:0px 0px 40px 0px;
    }
    .buts .bttn {
        letter-spacing: 1px;
        padding:12px 20px 14px 20px;
        margin: 10px 9px 10px 9px;
        display:inline-block;
    }
    .buts .bttn:last-child {
        margin-right:0px;
    }
    .buts.cmarg .bttn {
        margin-left:0px;
        margin-right:0px;
    }
    .bttn.black:hover {
         background:#3f4352;
        }
    
    .bttn {
        font-weight: normal;
        text-transform: uppercase;
    }

 .subtplace {
    color:#fff; 
    width:100%;
    text-align:center;
    display:block;
    margin:20px 0px;
    font-size:12px;
    color:#d2d2d2;
}

.subtplace a {
    text-decoration: none;
    color:#fff;
}

.opsidebar .sprite {
    margin:1px auto 19px auto;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    position:relative;
}

.opsidebar .sprite-10_ic {
    width: 16px;
    height: 19px;
    background-position: -5px -5px;
}

.opsidebar .sprite-11_ic {
    width: 18px;
    height: 20px;
    background-position: -31px -5px;
}

.opsidebar .sprite-12_ic {
    width: 16px;
    height: 16px;
    background-position: -59px -5px;
}

.opsidebar .sprite-13_ic {
    width: 16px;
    height: 20px;
    background-position: -85px -5px;
}

.opsidebar .sprite-14_ic {
    width: 19px;
    height: 17px;
    background-position: -5px -35px;
}

.opsidebar .sprite-15_ic {
    width: 20px;
    height: 17px;
    background-position: -34px -35px;
}

.opsidebar .sprite-16_ic {
    width: 24px;
    height: 22px;
    background-position: -64px -35px;
}

.opsidebar .sprite-17_ic {
    width: 22px;
    height: 22px;
    background-position: -98px -35px;
}

.opsidebar .sprite-18_ic {
    width: 20px;
    height: 17px;
    background-position: -5px -67px;
}

.opsidebar .sprite-19_ic {
    width: 25px;
    height: 18px;
    background-position: -35px -67px;
}

.opsidebar .sprite-1_ic {
    width: 20px;
    height: 16px;
    background-position: -70px -67px;
}

.opsidebar .sprite-2_ic {
    width: 19px;
    height: 17px;
    background-position: -100px -67px;
}

.opsidebar .sprite-3_ic {
    width: 15px;
    height: 17px;
    background-position: -5px -94px;
}

.opsidebar .sprite-4_ic {
    width: 18px;
    height: 17px;
    background-position: -70px -94px;
}

.opsidebar .sprite-5_ic {
    width: 21px;
    height: 15px;
    background-position: -98px -94px;
}

.opsidebar .sprite-6_ic {
    width: 28px;
    height: 18px;
    background-position: -111px -5px;
}

.opsidebar .sprite-7_ic {
    width: 19px;
    height: 19px;
    background-position: -130px -33px;
}

.opsidebar .sprite-8_ic {
    width: 22px;
    height: 22px;
    background-position: -130px -62px;
}

.opsidebar .sprite-9_ic {
    width: 14px;
    height: 18px;
    background-position: -129px -94px;
}

.opsidebar {
    min-height:100%;
    overflow:hidden;
    float:left;
    font-family: 'Conv_helveticaneuecyr-roman';
    background:#3f4352;
    
}
.opsidebar  .inner {
    width:176px;
}
.opsidebar.collapsed {
   display:none;
   
}
.opsidebar.uncollapse {
    width:50px;
}
.opsidebar .key:first-child {
    border-top:0px;
}
.opsidebar .key {
    display:block;
    border-top:1px solid #565c69;
    border-bottom:1px solid #2d3341;
    color:#fff;
    text-transform: uppercase;
    position:relative;
}
.opsidebar .key.toggle {
    cursor:pointer;
}
.opsidebar .key.toggle > span:after, .opsidebar .key.toggle > a:after {
    content:'';
    top:22px;
    margin-left:10px;
    right:auto;
    position:absolute;
    background-image: url(../img/corn_sel2.png);
    width:5px;
    height:7px;
}
.opsidebar .hide {
    display:none;
}
.opsidebar .key:last-child {
     border-bottom:0px;
     
}
.opsidebar .key:last-child:after {
    background:none;
}
.opsidebar .key > span, .opsidebar .key > a  {
    color:#fff;
    text-decoration: none;
    position:relative;
    display:block;
    font-size:12px;
    padding:20px 0px 18px 12px;
}
.opsidebar.uncollapse .key > span {
     padding:12px 0px 0px 0px;
}
.opsidebar .key:before, .opsidebar .key:after {
    content:'';
    position:absolute;
    height:1px;
    display:block;
    z-index:1;
    width:100%;    
} 
.opsidebar .key:before {
    top:-.14em;
    background:#2d3341;
}
.opsidebar .key:after {
    bottom:-.14em;
    background:#565c69;;
}

.opsidebar ul li {
    position:relative;
   
}
.opsidebar ul li.cur  a {
    background-color:#565c69;
}
.opsidebar ul li.cur a:before, .opsidebar .sprite.cur:before  {
    content:'';
    right:-7px;
    -ms-transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg) ; 
    transform: rotate(45deg) ;
    top:50%;
    margin-top:-4px;
    width:10px;
    height:10px;
    position:absolute;
    background:#fff;
}
.opsidebar .sprite.cur:before {
    right:-23px;
}
.opsidebar ul li:first-child {
    padding-top:10px;
}
.opsidebar.uncollapse ul li:last-child {
     padding-bottom:14px; 
}
.opsidebar ul li:last-child {
    padding-bottom:12px;
}
.opsidebar ul li a {
    position: relative;
    line-height: 1.3em;
    padding:10px 0px 10px 12px;
    display:block;
    text-decoration:none;
    font-size:14px;
    color:rgba(255,255,255,.49);
}
.cabtop {
    font-family: 'Conv_helveticaneuecyr-roman';
    color:#fff;
    overflow:hidden;
    height:64px;
    background:#2e3240;
}
.navtogg {
    left:12px;
    top:25px;
    position:absolute;
    cursor: pointer;
    display:block;
    width:15px;
    height:15px;
    background-repeat: no-repeat;
    background-position:center;
    background-image:url(../img/navopen.png);
}
.navtogg.open {
    background-image:url(../img/closenav_ic.png);
    left:14px;
}
.cabtop .uprof {
    float:left;
    font-size:12px;
    margin:0px 0px 0px 50px;  
   
}
.cabtop .uprof img {
    margin-top:16px;
    float:left;
}
.cabtop .uprof .fio {
      margin:0px 0px 4px 0px;
      display:block;
}
.cabtop .uprof .fio a {
    color:#fff;
    text-decoration: none;
}
.cabtop .uprof .job {
     color:#7a7d8a;
     display:block;
}
.cabtop .uprof .space {
    float:left;
    margin:22px 0px 0px 6px;
}
.cabtop .logout {
    padding:20px 0px 0px 0px;
    float:right;
}
.cabtop .logout span {
    margin:0px 12px 0px 0px;
    float:left;
}
.cabtop .logout a {
    
    color:#fff;
    font-size:14px;
}
.cabtop .logout .outlink {
     margin-right:15px;
     float:left;
     display:block;
     width:20px;
     height:22px;
     background:url(../img/logout_ic.png) no-repeat;
   
}

.mainside {
    margin-right:10px;
    overflow:hidden;
}

.emptypick {
    margin:210px 25px;
    text-align:center;
}

.crubs {
    
}
h2 {
    font-size:18px;
}
.crubs {
    padding:21px 0px 15px 0px;
}
.brbox {
    overflow:hidden;
}
.brbox .crubs.st_03 {
    padding-top:26px;
}
.brbox .crubs  {
    float:left;
}
.brbox  .butki .itm {
    margin-top:14px;
}
.crubs.st_01  h2 {
    padding:24px 0px 0px 0px;
}
.crubs h2 {
    padding:10px 0px 0px 0px;
    font-family: 'Conv_SFUIText-BoldG1';
    color:#2e3240;
}
.crubs .ht {
    font-size:12px;
    margin:0px 0px 0px 0px;
    color:#3f4352;
    font-family: 'Conv_helveticaneuecyr-roman';
    display:inline-block;
}
.crubs .ht {
    margin-right:18px;
}
.crubs .ht li {
    margin-right:18px;
}
.tabcit  {
    border-collapse: separate;
    border-spacing: 0;
    color:#82889c;
    text-align:center;
    font-size:14px;
    font-family: 'Conv_helveticaneuecyr-roman';
    width:100%;
}
.tabcit.s_37 {
    
    color:#515669;
}
.tabcit.s_37 .denied {
    color:#d5dde9;
    font-family: 'Conv_SFUIText-Italic';

}
.tabcit.s_37 tr.cmon td {
    border-top:0px;
}
.tabcit.s_37 tr.cmon td {
    color: #515669;
}
.tabcit.s_37 tr td a {
    text-decoration:none;
    color:#515669;
}
.tabcit.s_37 td {
        border-bottom: 1px solid #d5dde9;
}
.tabcit.s_37 tr.cval td {
    border-top:0px;
}
.tabcit.s_37  tr td:nth-child(1), .tabrad.s_37  tr th:nth-child(1) {
    padding-left:15px;
    width: 1%;
    text-align:left;
   
}
.tabcit.tc_1.s_37 tr td:nth-child(2) {
      font-family: 'Conv_helveticaneuecyr-roman';
}
.tabcit.s_37 strong {
     font-family: 'Conv_SFUIText-BoldG1';
}
.tabrad tr th:first-child  {
    border-radius: 4px 0px 0px 0px;
}
.tabrad tr th:last-child  {
   border-radius: 0px 4px 0px 0px;
}
.tabrad tr td:first-child {
    border-left:1px solid #d5dde9;
}
.tabrad tr td:last-child {
    border-right:1px solid #d5dde9;
}
.tabrad tr:last-child td {
     border-bottom:1px solid #d5dde9
}
.tabrad tr:last-child td:first-child {
    border-radius: 0px 0px 0px 4px;
    border-bottom:1px solid #d5dde9
}
.tabrad tr:last-child td:last-child {
    border-radius: 0px 0px 4px 0px;
    border-bottom:1px solid #d5dde9
}

.tabcit.tc_1 {}
.tabcit th {
    color:#515669;
    background-color:#d5dde9;
    padding:14px 0px;
}
.tabcit.tc_5 tr th:nth-child(1) {
    width:1%;
}
.tabcit.tc_5 tr th:nth-child(2) {
    width:14%;
}
.tabcit.tc_5 tr th:nth-child(3) {
    width:39%;
}
.tabcit.tc_5 {
    border-radius:0px 0px 0px 0px;
}
.tabrad.tc_5 tr th:first-child {
    border-radius: 0px 0px 0px 0px;
}
.tabcit.tc_5  tr {
    border-radius: 4px 0px 0px 4px;
}
.tabcit.tc_5  tr th {
    background-color:#fff;
}
.tabcit.tc_5 tr th:first-child {
    border-left:1px solid #d5dde9;
    
}
.tabcit.tc_5 tr th:last-child {
    border-radius: 0px;
    border-right:1px solid #d5dde9;
}

.out_st5 {
    overflow-x:auto;
}

.tab_st5 {
    text-align:center;
    width:100%;
    color:#83879a;
    font-family: 'Conv_helveticaneuecyr-roman';
    font-size:22px;   
 }

.tab_st5  tr td {
    vertical-align: middle;
    border-right:1px solid #f3f5f8;
    position:relative;
    
}
.tab_st5  tr td, .tab_st5 .tzone span {
    padding-top: 11px;
    padding-bottom:11px; 
}
.tab_st5 th {
    border-right:1px solid #dfe5ee;
    background-color:#d5dde9;
   
}
    .tab_st5 tr th {
    padding-top: 22px;
    padding-bottom: 20px;
    }
    .tab_st5.m_2 tr th {
       padding-top: 12px;
       padding-bottom: 10px;
    }
    .tab_st5.m_3 tr th {
       padding-top: 13px;
       padding-bottom: 12px;
    }
    .tab_st5.m_4 tr th {
       font-size:18px; 
       padding-top: 13px;
       padding-bottom: 12px;
    }
   .tab_st5  th, .tab_st5 td {
    vertical-align: top;
    }
    .tab_st5.m_5 tr th:not(:last-child) {
        font-size:18px;
        padding-top:24px;
        padding-bottom:24px;
        border-right:1px solid #ebeff5;
    }
    .tab_st5.m_5 .tzone span {
         padding-top:21px;
        padding-bottom:24px;
    }
    .tab_st5.m_5 tr:nth-child(2) td {
        border-top:0px;
    }
    .tab_st5.m_5 .actd_2,.tab_st5.m_5 .actd_3, .tab_st5.m_5 .actd_emp {
        font-family: 'Conv_SFUIText-BoldG1';
        font-size:24px;
    }
    .tab_st5.m_5 tr td {
        border:1px solid #d7dfea;
        padding-top:21px;
        padding-bottom:20px;
    }
    .tab_st5.m_5 tr th, .tab_st5.m_5 tr td {
        padding-left:2%;
        padding-right:2%;
    }
    .tab_st5.m_5 tr td:first-child {
        border-left:0px;
    }
    .tab_st5.m_5 tr td:last-child {
        border-right:0px;
    }
    
    .tab_st5.wc_3 tr td:nth-child(3) {
        text-align:left;
    }
  
    .tab_st5 {
       font-size:12px;
    }
    .tab_st5  {
        white-space: nowrap;
    }
    .tab_st5.wc_3 {
        font-size:18px;
    }
    .tab_st5.wc_2 tr th:nth-child(1) {
        width:8%;
    }
    .tab_st5.wc_2 tr th:nth-child(2) {
        width:16%;
    }
    .tab_st5.wc_2 tr th:nth-child(3) {
        width:8%;
    }
    .tab_st5.wc_2 tr th:nth-child(4) {
        width:15%;
    }
    .tab_st5.wc_2 tr th:nth-child(5) {
        width:50%;
    }
    
    
    
  
    .tab_st5.wc_3 tr th:nth-child(1) {
        width:12%;
    }
    .tab_st5.wc_3 tr th:nth-child(2) {
        width:6%;
    }
    .tab_st5.wc_3 tr th:nth-child(3) {
        width:36%;
    }
    .tab_st5.wc_3 tr th:nth-child(4) {
        width:17%;
    }
    .tab_st5.wc_3 tr th:nth-child(5) {
         width:16%;
    }
    .tab_st5.wc_3 tr th:nth-child(6) {
         width:9%;
    }
   
    .tab_st5  tr td, .tab_st5 tr th {
    padding-left:8px;
    padding-right:8px;

}

.tab_st5 th:last-child {
    border-right:0px;
}

.tab_st5 tr:nth-child(2n + 1) {
    background-color:#f9fafc;
}
.tab_st5 tr.firstrow {
    border-top:1px solid #eaeef4;
}
.tab_st5 tr td.bg_st, .tab_st5 tr td[rowspan] {
     background-color:#fff;
}

.tab_st5 tr  th {
    color:#83879a;
    white-space: nowrap;
    padding-top:34px;
    padding-bottom:34px
}
.tab_st5 tr  th:first-child {
    width:8%;
}
.tab_st5.wc_1 tr  th:first-child {
    width:1%;
    border-right:0px;
    
}
.tab_st5.wc_1 tr  th:last-child {
    width:24%;
    border-right:0px;
    
}

.tab_st5.m_2 tr td:last-child {
    text-align:left;
    padding-left:15px;
}
.tab_st5 tr th.m_last {
    width:24%;
}
.tab_st5 tr  th:nth-child(2) {
    width:10%;
}
.tab_st5 tr  th.m_num {
    width:5%;
}
.tab_st5 th strong {
    color:#2e3240;
    font-family: 'helveticaneuecyrblack';
}
.tab_st5 th.font_3 strong {
    color:#83879a;
}
.tab_st5 th.font_6 {
    font-family: 'Conv_SFUIText-BoldG1';
    color:#83879a;
    
}

.tab_st5 td strong  {
    color:#83879a;
    font-family: 'Conv_SFUIText-BoldG1';

}
.tab_st5 .font_4 {
    color:#8e382a;
}

.tab_st5 td.bg_1 {
    
}
.out_st5 .actd {
      background-color:#EAEEF4;
}
.out_st5 .actd_2 {
       color:#2e3240; 
       background-color:#74b724;
}

.out_st5 .actd_3 {
      color:#2e3240;
      background-color:#ff0000;
}
.out_st5 .actd_emp {
     color:#2e3240;
}
.out_st5 .actd.act {
     color:#8e382a;
     background-color:#EAEEF4;
}
.tzone span {
    top:0px;
    display:block;
    position:absolute;
    width:50%;
    height:100%;
    padding:10px 0px;
    box-sizing: border-box;
}
.tzone span.full {
    width:100%;
} 

.tab_st5 .mnum {
    color:#8e382a;
    margin:0px 3px 0px 3px;
    display:inline-block;
}
.tab_st5.m_2 tr td {
    white-space: nowrap
}
.tzone span.act {
    background-color:#EAEEF4;
}
.tzone.green span.act, .tzone span.green {
     background-color:#74b724;
}
.tzone span.bold {
        font-size:24px;
        color:#2e3240;
        font-family: 'Conv_SFUIText-BoldG1';
}
.tzone.green,.tzone.yellow, .tzone.red {
    color:#2e3240;
}
.tzone.yellow span.act, .tzone span.yellow   {
     background-color:#fff600;
}
.tzone.red span.act, .tzone span.red {
     background-color:#fe0000;
}
.tzone {
     
}
.tzone span:first-child {
    left:0px;
}
.tzone span:last-child {
    right:0px;
}   



.tabrad tr.cval td {
     border-top:1px solid #d5dde9;
}
.tabrad tr.cmon td {
    border-top:1px solid #d5dde9;
}
.tabcit  tr.cmon {
    background-color:#f9fafc;
}

.tabcit tr td {
    padding:10px 0px;
}
.tabcit tr td  a {
  color:#82889c;
}
.tabcit tr td  a:hover {
  color:#3fa4f9;
  text-decoration: none;
}
.tabcit.tc_1  tr td:nth-child(1), .tabcit.tc_1  tr th:nth-child(1) {
    text-align:left;
    padding:0px 0px 0px 15px;
    width:1%;
    white-space: nowrap;
}
.tabcit.tc_2  tr td:nth-child(1) {
    text-align:left;
}
.tabcit.tc_2  tr th:nth-child(1) {
    background-color:#d5dde9;
}
.tabcit.tc_2  tr th {
    background-color:transparent;
}
.tabcit.tc_2  tr td:nth-child(1):first-child {
  /*  background-color:#d5dde9; */
}
.tabcit.tc_1  tr td:nth-child(2) {
        font-family: 'Conv_SFUIText-BoldG1';
}
.tabcit.tc_1  tr th:nth-child(4) {
    text-align:left;
}
.tabcit.tc_1  tr td:nth-child(4) {
    width:140px;
    text-align:left;
}

.tabcit.tc_1  tr {
   
}
.tabcit .st_1 {
    color:#fff;
    background-color:#b3cdfb;
}
.tabcit th .sh {
    font-size:12px;
    letter-spacing:1px;
    text-transform: uppercase;
    position:absolute;
    height:96%;
    width:100%;
    top:1.3px;
    color:#fff;
    padding-top:13px;
    display:block;
    border-right:1px solid #fff;
    box-sizing: border-box;
    background-color:#5fc74b;
    text-decoration: none;
}
.tabcit th .sh {
        background-color: #b3cdfb;
}
.tabcit th .sh:hover,.tabcit th .sh:focus {
        background-color: #97b5ea;
}
.tabcit .wbtn {
    position:relative;
}
.tabcit .st_2 {
    color:#fff;
    background-color:#97b5ea;
}

.tabcit .panetop {
    
}

 .sopts {
    white-space: normal;
    line-height:1.43em;
    color:#83879a;
    text-align:left;
    display: block;
    width: 100px;
    position: absolute;
    top: 41px;
    right:auto;
    left: 0px;
    z-index: 999;
    margin: 0 0;
    padding: 13px 14px 11px 14px;
    list-style: none;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #c9d0d2;
    -webkit-box-shadow: -1px 1px 7px 2px rgba(0,0,0,.08);
    -moz-box-shadow: -1px 1px 7px 2px rgba(0,0,0,.08);
    box-shadow: -1px 1px 7px 2px rgba(0,0,0,.08);
}
.sopts.toolt {
    display:none;
    border-color:#d5dde9;
    line-height: 1.6em;
    font-size:12px;
    width:324px;
    border-radius:0px;
    -webkit-box-shadow: -1px 1px 21px 10px rgba(0,0,0,.08);
    -moz-box-shadow: -1px 1px 21px 10px rgba(0,0,0,.08);
    box-shadow: -1px 1px 21px 10px rgba(0,0,0,.08);
}
.sopts.toolt:after {
    left:47px;
}
.sopts.toolt  .tm {
    
}
.sopts.toolt .bold {
        font-family: 'helveticaneuecyrbold';
}
.sopts.toolt  ul {
    margin-top:1px;
}
.sopts.toolt  ul li {
    margin:1px 0px 1px 0px;
}

.sopts.toolt.warn, .sopts.toolt.warn li a {
    
    color:red;
}
 .sopts:after {
    content: '';
    top: -7px;
    left:12px;
    width: 16px;
    height: 7px;
    position: absolute;
    background: url(../img/dropcorn33.png) no-repeat;
}



.zpane {
        padding:0px 0px 0px 0%;
        color:#fff;
        overflow:hidden;
        background:#2e3240;
        font-size:12px;
    	font-family: 'Conv_SFUIText-BoldG1';
}


.zpane .pn {
    text-decoration:none;
    color:#83879a;
    border-radius: 4px 4px 0px 0px;
    margin:14px 1px 0px 1px;
    padding:10px 10px 13px 10px;
    float:left;
    background-color:#434652;
}

.zpane .pn.act {
    color:#2e3240;
    background-color:#d5dde9;
}
.zpane .pn:hover {
    color:#fff;
}
.zpane .pn:first-child {
    margin-left:1.27%;
}





.zpane .item {
    text-transform: uppercase;
    margin:0px 1.7% 0px 1.7%;
    padding:12px 0px 14px 0;
    float:left;
}

.zpane .item.bhide, .zpane.fpoint .item.bhide, .zpane .pn.check {
    margin-right:0%;
    padding-left:2%;
    padding-right:2%;
    float:right;
}

.zpane .pn.check {
    padding-left:1%;
    background-color:transparent;
}

.zpane .item.bhide:hover,  .zpane .pn.check:hover {
     background-color:rgba(63,67,82,.8);
}
.zpane .item.bhide a, .zpane .pn.check .lnk {
    text-decoration: none;
    color:#fff;
}

.zpane .pn.check.time {
    color:#fff;
    padding-right:1%;
}
.zpane .pn.check.time:hover {
    background:none;
}

.zpane.sty_2 {
    font-size:9px;
    text-align:center;
}
.zpane.c_sty_2 {
   
    font-size:18px;
}

.zpane.sty_2 .pn {
      text-transform: uppercase;
      display: inline-block;
     
      margin-top:0px;
      padding-top:12px;
}
.zpane.c_sty_2 .pn {
    padding-bottom:12px;
    padding-top:9px;
}
.zpane.sty_2 .pn, .zpane.sty_2 .pn.check {
    float:none;
}




.uspopup, .depo_popup, .addcpopup, .op_place, .worksmap {
    display:none;
}
.csstbl {
   
    border-radius:4px;
    border:1px solid #d5dde9;
    color: #82889c;
    text-align: left;
    font-size: 14px;
    font-family: 'Conv_helveticaneuecyr-roman';
}
.csstbl .th_row .tit {
    font-family: 'Conv_SFUIText-BoldG1';
}
.tblpup.b_01 {
    border:0px;
}
.csstbl.mar_02 {
     margin-bottom:20px;
}
.csstbl.st_5 {
    border:0px;
}
.csstbl.st_5 .row .col .tit:first-child {
    margin-left:0px;
}
.csstbl .th {
    text-align:center;
    font-family: 'Conv_SFUIText-BoldG1';
    color: #515669;
    padding: 14px 0px;
    border-bottom:1px solid #d5dde9;
    box-sizing:border-box;
}
.csstbl .th.first {
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: #d5dde9;

}
.csstbl.st_05 {
    border-radius: 4px 4px 0px 0px;
}    


.cnt .row .col {
    float:left;
}
.cnt .row .col.half {
    width:50%;
}
.cnt .row .col.one_fourth {
    width:25%;
}
.cnt .row .col.third {
    width:33.3%;
}
.cnt .row .col.two_third {
    width:66.6%;
}
.cnt .row .col.one_third {
    width:33.3%;
}
.cnt .row .col.one_six {
    width:16.6%;
}
.cnt .row .col.two_six {
    width:33.2%
}
.cnt .row .col.full {
    width:100%;
}




/*custom select*/
.outer-sel {
        width:143px;
        margin: 20px 1% 18px 2px;
}

.outer-sel .s-hidden {
    visibility:hidden;
    padding-right:0px;
    width:90%;
}
.outer-sel .select {
    white-space: nowrap;
    height:18px;  
    cursor:pointer;
    display:inline-block;
    position:relative;
    border-bottom: 1px dotted #82889c;
 }
.outer-sel.hfirst .options li:first-child, .outer-sel.hfirst .opts  li:first-child {
     display:none;
 }
 .outer-sel.cust_22 {
     margin-top:20px;
 }
 .outer-sel.cust_22 .select {
    height:20px;
   
 }
 .outer-sel.cust_23 .select {
     height:20px;
 }
.outer-sel .styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding:2px 10px 2px 0px;
    color:#82889c;
    
}
.outer-sel.drop {
    width:auto;
}
.outer-sel.drop .select .styledSelect  {
     position:static;
      padding:2px 14px 2px 0px;
}
.outer-sel .styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:4px solid transparent;
    border-color:#82889c transparent transparent transparent;
    position:absolute;
    top:7px;
    right:0px;
}
.styledSelect:active, .styledSelect.active {
   
}
.outer-sel .options, .outer-sel .opts  {
    display:none;
    width:157px;
    position:absolute;
    top:30px;
    right:-7px;
    left:auto;
    z-index:999;
    margin:0 0;
    margin-right:-13px;
    padding:8px 0;
    list-style:none;
    background-color:white;
    border-radius: 4px;
    
    border:1px solid #c9d0d2;
   
    -webkit-box-shadow: -1px 1px 7px 2px rgba(0,0,0,.08);
 -moz-box-shadow: -1px 1px 7px 2px rgba(0,0,0,.08);
 box-shadow: -1px 1px 7px 2px rgba(0,0,0,.08);

}


.outer-sel .options:after ,.outer-sel .opts:after  {
    content:'';
    top:-11px;
    right:12px;
    width:20px;
    height: 11px;
    position:absolute;
    background:url(../img/dropcorner_2.png) no-repeat;
   
}

.outer-sel .options li, .outer-sel .opts li, .outer-sel .opts .itm {
    font-size:14px;
    color:#82889c;
    margin:0 0;
    padding:9px 12px;
}
                                

.outer-sel.styd .options li, .outer-sel.styd .opts li {
    margin:10px 12px 12px 12px;
    padding:2px;
    background:url(../img/corn_sel.png) no-repeat right 7px;
    border-bottom: 1px dashed #82889c;
}
.outer-sel.styd .opts li {
     margin:10px 13px 10px 13px;
}
       

.outer-sel .options li:hover, .outer-sel .opts li:hover, .outer-sel .opts .itm:hover {
    background-color:#39f;
    color:white;
}
.outer-sel.styd .options li:hover, .outer-sel.styd .opts li:hover {
    color:#82889c;
    background-color:transparent;
}
.outer-sel  .but {
    border-radius:4px;
    padding:11px 12px;
    text-align:center;
    bottom:0px;
    color:#fff;
    background:#82889c;
    display:block;
    font-size:12px;
    text-transform: uppercase;
}
.outer-sel .list .but {
     margin:18px 12px 10px 12px;
   
}
.outer-sel .opts .cbsbox.vert {
    margin: 12px 10px 9px 10px;
    
}
.outer-sel .opts .list {
    margin: 8px 0px 7px 0px;
}
.outer-sel .opts  .btn {
   margin-left:12px;
   margin-right:12px;
}
  /*custom select end */

  .outer-sel.center  .select{
      height:41px;
      border-radius: 3px;
      border:1px solid #b8c3c9;
  }
  .outer-sel.center .options, .outer-sel.center .opts {
      top:49px;
      width:231px;
      margin-bottom:20px;
      margin-right:-1px;
  }

  .outer-sel.w2 {
      width:270px;
  }
  .outer-sel.w2 .select {
      width:90%;
  }
  .outer-sel.center .styledSelect:after {
      background:url(../img/center_sel_ic.png) no-repeat;
      border:0px;
      top:17px;
      right:12px;
      width:10px;
      height:8px;
      /*w10 h 8*/
  }
  .outer-sel.center .styledSelect {
    
    font-family: 'Conv_helveticaneuecyr-roman';
     padding:12px 12px 2px 12px;
  }
 
  

.csstbl .row {
    box-sizing:border-box;
    border-bottom:1px solid #d5dde9;
}
.csstbl .row:first-child, .csstbl .row:last-child {
    border-bottom:0px;
}
.csstbl .row.st_04 {
    border-bottom:1px solid #d5dde9;
}
.csstbl .row.bg_2:first-child {
    background-color:#d5dde9;
    border-radius: 4px 4px 0px 0px;
}
.csstbl  .row:last-child .col {
    border-bottom:0px;
    
}
.csstbl  .row.style_3 {
    border-top:2px solid #d5dde9;
}

.csstbl  .tit {
    line-height: 1.3em;
    font-weight: normal;
    margin:20px 2% 20px 12px;
    float:left;
    display:block;
}
.csstbl .tit .hir {
    font-size:13px;
   color:#515669;
}
.csstbl  .tit.h2 {
    font-size:16px;
}
.csstbl.off_04 .nothline .tit {
    font-size:12px;
    margin-top:12px;
    margin-bottom:3px;
}
.csstbl.off_04 .nothline {
    border-bottom:none;
}
.csstbl.off_04 .nothval {
    border-bottom:none;
}
.csstbl.off_04 .tit.g4 {
    margin-top:0px;
    margin-bottom:20px;
}
.csstbl.off_04 .nothline .h3 {
    margin-top:10px;
    font-size:14px;
}
.csstbl  .u {
    text-decoration: underline;
}
.csstbl  .italic {
  font-family: 'Conv_SFUIText-Italic';

}
.one_fourth .tit {
    width:auto;
}
.csstbl .two_third .tit {
    width:auto;
}

.csstbl.b_01 .tit {
    margin-top:10px;
    margin-bottom:10px;
}
.csstbl.b_01 .row.r35  .tit {
    margin-top:18px;
    margin-bottom:20px;
}
.csstbl.b_01   .row.r35 .outer-sel {
    margin-top:20px;
}
.csstbl.b_01   .row.r35 .input_01 {
    margin-left:12%;
}
.csstbl  .m15.input_01 {
    margin-left:18px;
}
.csstbl.b_01 .r24 {
    
}
.csstbl .stmin_03  .tit {
     margin-top:1px;
}
.csstbl.b_01 .outer-sel {
    margin:9px auto 10px auto;
}
.csstbl.b_01 .outer-sel.st_74 {
    margin-left:12px;
    margin-bottom:12px;
}
.csstbl .row.rz31 {
    padding-top:10px;
    padding-bottom:23px;
    margin-bottom:30px;
    border-bottom: 1px solid #d5dde9;
}
.csstbl  .ts3.tit {
    margin-top:19px;
}

.outer-sel.minpad .options, .outer-sel.minpad .opts  {
    left:-0px;
}
.outer-sel.minpad .options:after, .outer-sel.minpad .opts:after  {
    right:69px;
}
.outer-sel.posmid .options, .outer-sel.posmid .opts  {
    left:-6px;
}
.outer-sel.posmid .options:after, .outer-sel.posmid .opts:after {
    right:43%;
}
.outer-sel.pos2mid .options, .outer-sel.pos2mid .opts  {
    left:-15px;
}
.outer-sel.pos2mid .options:after, .outer-sel.pos2mid .opts:after {
    right:43%;
}


.csstbl .row.rz32 .outer-sel {
    margin-top:18px;
}
.csstbl .row.rz31.left {
    width: 55%;
    float: left;
} 
.csstbl .row.rz31.right {
   width:45%;
   float:right;
} 
.csstbl .row.rz32.left {
    float:left;
    width:55%;
}
.csstbl .row.rz32.right {
     width:45%;
     float:right;
}
.csstbl .row.rz31 .col:first-child .outer-sel, .csstbl .row.rz32 .col:first-child .outer-sel {
    margin-left:15px;
}
.row.rz34  .outer-sel:first-child {
    margin-left:14px;
}

.csstbl .row .col.hide {
    visibility: hidden;
}
 .csstbl .outer-sel.mar04 {
      margin-top:28px;
      margin-bottom:19px;
      padding-left:12px;
  }  
.csstbl.b_01 .midcol .outer-sel, .csstbl.b_01 .midcol .tit {
    
}
.outer-sel.bold .styledSelect {
    color:#515669;
    font-family: 'Conv_SFUIText-BoldG1';

}
.st_mn {
    width:140px;
}
.st_mp{
    width:138px;
}
.csstbl.b_01 .col.third:last-child {
    float:right;
}
.cnt .row .col.two_ten {
    width:20%;
}
.csstbl.b_01 .col.third.w30 {
    width:30%; 
}
.cnt .row .col.three_ten {
    width:30%;
}
.cnt .row .col.four_ten {
    width:40%;
}
.cnt .row .col.seven_ten {
    width:70%;
}

.cnt .row .col.w_03 {
    width:3%;
}
.cnt .row .col.w_04 {
    width:4%;
}
.cnt .row .col.w_05 {
    width:5%;
}
.cnt .row .col.w_055 {
    width:5.5%;
}
.cnt .row .col.w_06 {
    width:6%;
}
.cnt .row .col.w_07 {
    width:7%;
}
.cnt .row .col.w_08 {
    width:8%;
}
.cnt .row .col.w_09 {
    width:9%;
}
.cnt .row .col.w_10 {
    width:10%;
}
.cnt .row .col.w_11 {
    width:11%;
}
.cnt .row .col.w_12 {
    width:12%;
}
.cnt .row .col.w_13 {
    width:13%;
}
.cnt .row .col.w_14 {
    width:14%;
}
.cnt .row .col.w_15 {
    width:15%;
}
.cnt .row .col.w_16 {
    width:16%;
}
.cnt .row .col.w_17 {
    width:17%;
}
.cnt .row .col.w_18 {
    width:18%;
}
.cnt .row .col.w_19 {
    width:19%;
}
.cnt .row .col.w_20 {
    width:20%;
}
.cnt .row .col.w_21 {
    width:21%;
}
.cnt .row .col.w_25 {
    width:22%;
}
.cnt .row .col.w_23 {
    width:23%;
}
.cnt .row .col.w_24 {
    width:24%;
}
.cnt .row .col.w_25 {
    width:25%;
}
.cnt .row .col.w_26 {
    width:26%;
}
.cnt .row .col.w_27 {
    width:27%;
}
.cnt .row .col.w_28 {
    width:28%;
}
.cnt .row .col.w_29 {
    width:29%;
}
.cnt .row .col.w_30 {
    width:30%;
}
.cnt .row .col.w_31 {
    width:31%;
}
.cnt .row .col.w_32 {
    width:32%;
}
.cnt .row .col.w_33 {
    width:33%;
}
.cnt .row .col.w_34 {
    width:34%;
}
.cnt .row .col.w_35 {
    width:35%;
}
.cnt .row .col.w_36 {
    width:36%;
}
.cnt .row .col.w_37 {
    width:37%;
}
.cnt .row .col.w_38 {
    width:38%;
}
.cnt .row .col.w_39 {
    width:39%;
}
.cnt .row .col.w_40 {
    width:40%;
}
.cnt .row .col.w_41 {
    width:41%;
}
.cnt .row .col.w_42 {
    width:42%;
}
.cnt .row .col.w_43 {
    width:43%;
}
.cnt .row .col.w_44 {
    width:44%;
}
.cnt .row .col.w_45 {
    width:45%;
}
.cnt .row .col.w_46 {
    width:46%;
}
.cnt .row .col.w_47 {
    width:47%;
}
.cnt .row .col.w_48 {
    width:48%;
}
.cnt .row .col.w_49 {
    width:49%;
}
.cnt .row .col.w_50 {
    width:50%;
}
.cnt .row .col.w_51 {
    width:51%;
}
.cnt .row .col.w_52 {
    width:52%;
}
.cnt .row .col.w_53 {
    width:53%;
}
.cnt .row .col.w_54 {
    width:54%;
}
.cnt .row .col.w_55 {
    width:55%;
}
.cnt .row .col.w_56 {
    width:56%;
}
.cnt .row .col.w_57 {
    width:57%;
}
.cnt .row .col.w_58 {
    width:58%;
}
.cnt .row .col.w_59 {
    width:59%;
}
.cnt .row .col.w_60 {
    width:60%;
}
.cnt .row .col.w_61 {
    width:61%;
}
.cnt .row .col.w_62 {
    width:62%;
}
.cnt .row .col.w_63 {
    width:63%;
}
.cnt .row .col.w_64 {
    width:64%;
}
.cnt .row .col.w_65 {
    width:65%;
}
.cnt .row .col.w_66 {
    width:66%;
}
.cnt .row .col.w_67 {
    width:67%;
}
.cnt .row .col.w_68 {
    width:68%;
}
.cnt .row .col.w_69 {
    width:69%;
}
.cnt .row .col.w_70 {
    width:70%;
}
.cnt .row .col.w_71 {
    width:71%;
}
.cnt .row .col.w_72 {
    width:72%;
}
.cnt .row .col.w_73 {
    width:73%;
}
.cnt .row .col.w_74 {
    width:74%;
}
.cnt .row .col.w_75 {
    width:75%;
}
.cnt .row .col.w_76 {
    width:76%;
}
.cnt .row .col.w_77 {
    width:77%;
}
.cnt .row .col.w_78 {
    width:78%;
}
.cnt .row .col.w_79 {
    width:79%;
}
.cnt .row .col.w_80 {
    width:80%;
}
.cnt .row .col.w_81 {
    width:81%;
}
.cnt .row .col.w_82 {
    width:82%;
}
.cnt .row .col.w_83 {
    width:83%;
}
.cnt .row .col.w_84 {
    width:84%;
}
.cnt .row .col.w_85 {
    width:85%;
}
.cnt .row .col.w_86 {
    width:86%;
}
.cnt .row .col.w_87 {
    width:87%;
}
.cnt .row .col.w_88 {
    width:88%;
}
.cnt .row .col.w_89 {
    width:89%;
}
.cnt .row .col.w_90 {
    width:90%;
}
.cnt .row .col.w_91 {
    width:91%;
}
.cnt .row .col.w_92 {
    width:92%;
}
.cnt .row .col.w_93 {
    width:93%;
}
.cnt .row .col.w_94 {
    width:94%;
}
.cnt .row .col.w_95 {
    width:95%;
}
.cnt .row .col.w_96 {
    width:96%;
}
.cnt .row .col.w_97 {
    width:97%;
}
.cnt .row .col.w_98 {
    width:98%;
}
.cnt .row .col.w_99 {
    width:99%;
}
.cnt .row .col.w_100 {
    width:100%;
}

.cnt .row .col.w_16_6 {
    width:16.6%;
}






.tit.w70 {
    width:70%
}



.wp_140 {
    width:140px;
}
.wp_22 {
    width:208px;
}
.csstbl .wi34  .th {
    color:#2e3240;
}
.csstbl .wi34 .th.disact {
    color:#d5dde9;
}
.csstbl .wi34 .col {
    border-right:1px solid #d5dde9
}
.csstbl .wi34 .col:last-child {
    border-right:0px;
}

.two_ten .tit.mar_3 {
    margin-left:11%;
}
.tit.cent_01 {
    width:100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.tit.stw {
    margin-left:12px;
    margin-right:12px;
    text-align:center;
    width:143px;
}

.csstbl .row.t434 {
    border-bottom: 1px solid #d5dde9;
}
.csstbl .row.t34 {
    border-bottom:0px;
}
.csstbl .row.t34 .tit {
    margin-bottom:0px;
}
.csstbl .row.borded {
      border-bottom: 1px solid #d5dde9;
}
.csstbl .nbord {
    border-bottom:0px;
}
.csstbl .row.cu2 .outer-sel {
    margin-top:14px;
    margin-bottom:24px;
    margin-left:18px;
    
}
.csstbl .row.cu2 .outer-sel.pos2mid .options, .csstbl .row.cu2 .outer-sel.pos2mid .opts {
    left:0px;
}


.csstbl.off_02  .row .col:first-child .tit:first-child, .csstbl.off_04  .row .col:first-child .tit:first-child  {
    margin-left:18px;
}
.csstbl.off_02 .cu2 .tit {
    margin-left:18px;
}
.csstbl.off_02 .tit {
    margin-top:15px;
    margin-bottom:15px;
}


.csstbl.off_04 .tit {
    margin-top:13px;
    margin-bottom:14px;
}
.csstbl.off_02 .tit.h2 {
    margin-top:16px;
    margin-bottom:14px;
}
.csstbl.off_04 .tit.h2 {
    margin-top:13px;
    margin-bottom:12px;
}
.csstbl.off_03 .tit {
    margin-top:10px;
    margin-bottom:10px; 
}
.csstbl .row.bg_2:first-child {
    
}
.csstbl.off_03  .row.bg_2 .tit {
    margin-top:12px;
    margin-bottom:12px; 
}
.csstbl.off_03  .row:nth-child(3) {
    background-color:#f9fafc;
}
.csstbl.off_03.nst  .row {
    background:none;
}
.csstbl .withc  {
    text-align:center;
}
.csstbl .withc  .input_01{
    margin-right:0px;
    
}
.input_01.cpos {
    text-align:center;
}

.csstbl .withc  .cbsbox.vert {
    margin-left:2px;
}

.csstbl.off_02 .row .col:first-child .tit.full.ac_c:first-child {
    margin-left:2%;
    text-align:center; 
}
.tit.ttu {
    text-transform: uppercase;
}
.csstbl.off_02 .input_01 {
    margin-top:10px;
    margin-bottom:9px;
    padding:6px 12px;
}
.row.cu2 .tit {
   
    margin-bottom:0px;
}
.csstbl.sthf3 .w_46 {
    border-right:1px solid #d5dde9;
}
.csstbl.sthf3  .row .col.half .col:first-child .tit {
    margin-left:8%;
    /*sthf3 this fix*/
   
}

.csstbl.off_02  .cicon {
    margin-top:11px;
    margin-bottom:11px;
}
.csstbl.off_04  .cicon {
   /* margin-top:8px;
    margin-bottom:5px; */
}
.csstbl.off_04 .row_3 .tit {
    margin-top:9px;
    margin-bottom:16px;
}

.csstbl.off_04 .cicon {
    margin-top:9px;
    margin-bottom:13px;
    padding: 6px 12px;
}
.csstbl.off_04  .input_01  {
    margin-top:8px;
    margin-bottom:9px;
    padding: 6px 12px;
}


.csstbl .tit.u1 {
    margin-top:7px;
    margin-bottom:7px;
}
.csstbl .tit.w_co {
    width:60px;
    
}
.csstbl .box_pl34 .cicon {
    margin-bottom:0px;
}
.csstbl .box_pl34 .sy2 .tit, .csstbl .box_pl34.p3 .sy2 .input_01 {
   margin-bottom:0px;
}
.csstbl .box_pl34 .zhead .tit {
    white-space: nowrap;
    margin-bottom:5px;
    
}

.box_pl34.last {
    margin-bottom:24px;
}


.csstbl.b_01 .col:first-child .tit,   .csstbl.b_01 .cbsbox.vert {
     margin-left:15px;
    
}
.csstbl .tit.valmid {
    margin-top:4px;
}
.csstbl.b_01  .row.stmin_03 .input_01 {
   
}
.input_01.w_180 {
    width:180px;
}
.cbsbox.inline.tit {
    width:40%;
}
.csstbl .row.stmin_03 .input_01 {
    margin-top:0px;
}
.csstbl .input_01.long_3 {
    margin-top:28px;
    margin-bottom:19px;
    width:270px;
    height:41px;
}
.csstbl .input_01.fullinp {
    width:100%;
}
.csstbl .input_01.nar_1 {
    width:74px;
}
.list_5 .icos {
    cursor:pointer;
    margin:10px 12px 20px 12px;
    display:block;
    width:24px;
    height:24px;
}
.list_5 .icos.plus {
    background:url(../img/plus_icos.png) no-repeat;
}
.list_5 .tit.st_01 {
    margin-top:21px;
    margin-bottom:6px;
}
.list_5 .tit.st_02 {
    margin-top:0px;
    margin-bottom:0px;
}

.cnt .row .col.three_ten .tit, .cnt .row .col.third .tit{
    width:auto;
}

.csstbl  .tit.full {
     width:100%;
}
.csstbl  .tit, .panenet .tit {
    
     color:#515669;
}

.csstbl  .col .bttn_2 {
    
    margin-top: 14px;
    margin-bottom:14px;
}
.csstbl  .col .addnew {
    cursor: pointer;
    margin-left:14px;
    margin-right:14px;
}    

.csstbl  .tit.bold, .csstbl.st_02 strong {
    font-family: 'helveticaneuecyrbold';
    color:#515669;
}
.csstbl strong {
    font-family: 'helveticaneuecyrbold';
    
}
.csstbl .row .col {
    box-sizing: border-box;
   
}
.csstbl .updated {
    float:left;
    display:block;
}
.csstbl .updated .tit {
    width:auto;
    margin-left:0px;
    display:inline-block;
}
.csstbl .tit a {
    color:#3992f7;
}

.csstbl  .tit.mar02 {
  
    margin-right:1.5%;
}
.csstbl  .tit.st_1 {
    width:auto;
}
.csstbl  .tit.font_2 {
    color:#82889c; 
}
.csstbl  label.font_2 {
    color:#82889c; 
}
.csstbl  strong.font_2 {
    color:#82889c; 
}
.csstbl  .tit.font_1 {
    color:#515669;
}
.tabcit .font_6 {
    color:#3fa4f9;
}
.csstbl  .tit.font_3 {
    color:#d5dde9;
}
.csstbl .tit.font_7 {
color:#2e3240 
} 
.csstbl  .tit.font_5 {
   
   font-family: 'helveticaneuecyrlight';
}
.csstbl  .tit.st_1.st_03 {
    margin-left:5px;
}
.csstbl .tit.w1 {
    width:31%;
}
.csstbl .tit.w1.m2 {
    margin-left:8%;
}
.csstbl .tit.w2 {
    width:32%;
}
.csstbl .tit.w3 {
    width:54%;
}

.updated.mar_02 {
     margin-left:12px;
     margin-right:12px;
}
.tit.mar_03, .outer-sel.mar_03 {
     width:auto;
     margin-left:12px;
     margin-right:12px;
}
.outer-sel.mar_05 {
    margin:9px 12px 10px 12px; 
}
 .csstbl.b_01  .outer-sel.mar_04 {
     margin-left:12px;
     margin-right:12px;
}

.tblpup .tit.mar_03, .tblpup  .outer-sel.mar_03 {
    margin-left:12%;
}


.csstbl .right {
    float:right;
}
.csstbl .col.right {
    float:right;
}
.csstbl .left {
    float:left;
}

.tit.seldr {
    text-decoration: none;
    position:relative;
    padding-right:15px;
    border-bottom:1px dotted #82889c;
}
.tit.seldr .ic {
    top:5px;
    background:url(../img/drop_down_ic.png) no-repeat center  2px;
    display:inline-block;
    width:19px;
    height:18px;
    position:absolute;
}
.csstbl .tit.seldr .ic {
    background-color:#fff;
}
.subpane .tit.seldr .ic {
    background-color:#f9fafc;
}
.subpane .outer-sel {
    width:auto;
    float:left;
    margin:10px 33px 15px 17px; 
 }
.subpane  .outer-sel .options, .subpane  .outer-sel .opts  {
    left:0px;
 }
.subpane .outer-sel .options:after,.subpane .outer-sel .opts:after  {
     right:43%;
 }
 .subpane .outer-sel .styledSelect,  .subpane .outer-sel .styledSelect {
     color:#515669;
 } 
.csstbl .input_01 {
    margin:12px 10px 13px 12px; 
}
.input_wrap {
    margin-left:12px;
}
.input_wrap .input_01 {
    margin-left:0px;
    margin-right:0px;
    width:100%;
}
.input_01 {
    color:#82889c;
    box-sizing:border-box;
    width:143px;
    border-radius: 3px;
    padding:8px 12px;
    border:1px solid #d5dde9;
}
.input_01.st_02 {
    padding:7px 12px;
}
.csstbl .row .st_44 {
    margin:18px 0px 10px 0px;
}
.csstbl .row .w60 {
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.csstbl .row .w60 .input_01 {
    width:100%;
    text-align:center;
}

.input_01.under_st  {
    margin-bottom:0px;
}
.input_01.st_03 {
    padding:7px 12px 6px 12px;
}
.input_01.small {
   width:83px;
}
.input_01.small_2 {
    width:151px;
}
.input_01.small_3 {
    width:50px;
}
.input_01.big {
    margin:0px 0px 15px 0px;
    padding:10px 12px;
}
.csstbl .w_01 {
    float:right;
   
}
.csstbl .w_01.left {
    float:left;
}
.csstbl .w_01.left {
    float:left;
}
.csstbl .tleft {
    text-align:left;
}
.csstbl .tcenter {
    text-align:center;
}

.soclist .subpane {
    background-color:#f9fafc;
    padding:17px 0px 0px 0px;
    border:1px solid #d5dde9;
}

.subpane .h3 {
    text-transform: uppercase;
    font-family: 'helveticaneuecyrbold';
    margin:0px 0px 16px 0px;
    color:#515669;
    
}
.subpane  .tit {
    margin:8px 10px 10px 0px;
    width:145px;
    float:left;
    font-size:14px;
}
.subpane .input_01 {
    width:calc(100% - 170px);
}

.panenet {
    font-size:14px;
    color:#515669;
}
.panenet .netlink {
    margin:11px 0px 11px 0px;
}
.panenet  .soclist {
    
}

.subpane.list .tit {
    width:auto;
    margin-left:17px;
    margin-right:79px;
}
.subpane.list .updated {
   
}

.photo-fancy.fancybox-opened  .fancybox-skin {
    background-color:#fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
}

.hs3 {
    margin:0px 0px;
    padding:15px 0px 15px 0px;
    display:block;
    text-align:center;
    background-color:#f9fafc;
    font-family: 'Conv_helveticaneuecyr-roman';
    color:#515669;
    border-bottom: 1px solid #d5dde9;
}
.hs3, .hs3_r {
    border-radius: 4px 4px 0px 0px; 
}
.depo_popup .csstbl .row, .depo_popup .csstbl {
    border:0px;
}
.depo_popup .csstbl.mb0 {
    margin-bottom:0px;
}
.depo_popup.dpop .csstbl .tit {
    margin-left:0px;
    margin-right:0px;
}
.depo_popup .csstbl .st_20 {
    margin-top:10px;
    margin-bottom:10px;
}
.csstbl .row.hs3_r {
    border-bottom: 1px solid #d5dde9;
    background:#f9fafc;
}
.csstbl .row.hs3_r .tit {
    margin-top:14px;
    margin-bottom:11px;
    font-size:18px;
}


.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox + label, .chlabel {
  cursor: pointer;
  
}


/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label, .chlabel {
  position: relative; 
  padding: 0 0 0 36px; 
}
.checkbox:not(checked) + label:before,  .chlabel:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 27px;
  height: 26px;
  background: url(../img/checkbox_ic.png) no-repeat;
  
}

.checkbox.revert:not(checked) + label:before, .chlabel.revert:before {
    right:-36px;
    left:auto;
}
.checkbox.revert:not(checked) + label, .chlabel.revert {
    padding-left:0px;
}

.checkbox:checked + label:before, .chlabel.chkd:before{
  background-position:0 -26px;
}

/* Показываем получение фокуса. */
.checkbox:focus + label:before {
}

.cbsbox.vert {
    margin:17px 0px 15px 12px;
}

.cbsbox.vert .item {
    margin:0px 0px 24px 0px;
    display:block;
}

.che3_mid  {
    margin-left:160px;
}


.cbout_34 .cbsbox.vert {
    width:30%;
    margin-left:auto;
    margin-right:auto;
}

.row.stmin_02 .col  {
    border-bottom:none;
    
}
.row.stmin_02 .col .tit {
    margin-top:10px;
}
.row.stmin_02 {
    border-bottom-color:transparent;
}    


.uspopup {
    width:581px;
}
.worksmap {
    width:750px;
}
.addcpopup {
    width:520px;
}
.depo_popup {
    width:525px;
}
.depo_popup.dpop {
    width:471px;
}
.op_place {
    width:500px;
}

.depo_popup .csstbl .row .col.one .tit, 
.depo_popup .csstbl .row .col.one .input_01,
 .depo_popup .m4cols .row .col .tit,
 .depo_popup .m4cols .row .col .input_01
 {
   margin-left:25px;
   /*56*/
}

.depo_popup .csstbl {
    margin-bottom:20px;
}
.depo_popup .buts.mar_02 {
    margin-bottom:25px;
}

.depo_popup .csstbl .input_01, .depo_popup .csstbl .tit  {
    margin-top:20px;
    margin-bottom:10px;
}

.depo_popup .csstbl .row .col.one {
    width:28.3%;
}
.depo_popup .csstbl .row .col.two {
    width:32.6%;
}
.depo_popup .tit {
    font-size:16px;
}


.useico {
    display:block;
    color:#515669;
    font-size:28px;
    
}

.csstbl .cicon {
   margin: 17px 12px 17px 12px;
}

.cicon {
    cursor:pointer;
    border:1px solid transparent;
    box-sizing: border-box;
    border-radius: 50%;  
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    position: relative;
}
.cicon.hidden, .cicon.hidden:before, .cicon.hidden:after  {
    visibility: hidden;
}

.cicon:before, .cicon:after {
    content:"";
    position: absolute;
}

.cicon.icon-plus {
    background-color: #444756;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.cicon.icon-minus {
    background-color: #444756;
   
}

     
.cicon.icon-plus:after {
background-color: #fff;
width: 10px;
height: 2px;
top:10px;
left: 6.1px;
}
.cicon.icon-plus:before {
background-color: #fff;
width: 2px;
height: 10px;
top:5.8px;
left:10.2px;
}
.cicon.icon-minus:after {
    background-color: #fff;
    width: 6px;
    height: 2px;
    top: 10px;
    left: 7.4px;
    z-index: 4;
}

.cicon.icon-plus.white {
    background-color: transparent;
    border:1px solid #444756;
}
.cicon.icon-plus.white:before {
     background-color: #515669;
}
.cicon.icon-plus.white:after {
    background-color: #515669;
}

.cicon.icon-minus.white {
    background-color: transparent;
    border:1px solid #444756;
}
.cicon.icon-minus.white:after {
    background-color: #515669;
}

.cicon .toolt {
    top:33px;
    left:-45px;
}

.row_wrks {
    
}
.row_wrks .tit a  {
    text-decoration: none;
    color:#515669;
}
.row_wrks .tit a:hover {
    color:#3992f7;
}
.row_wrks .one {
    width:16%
}
.row_wrks .two {
    width:40%
}
.row_wrks .three {
    width:17%
}
.row_wrks .four {
    width:16%
}
.row_wrks .five {
    width:10%
}

.csstbl.off_02 .tit.mar54 {
    margin-bottom:6px;
}

.csstbl.off_02 .days_list .input_01 {
    margin-top:0px;
    margin-bottom:0px;
}

.input_01.ntbp {
    margin-top:0px;
    margin-bottom:0px;
} 

.days_list {
    margin-top:0px;
    width:280px;
}
.days_list .row {
    border-bottom:0px;
}
.days_list .day {
    margin:2px 2px 0px 0px;
    float:left;
    color:#82889c;
}
.days_list .dots {
    color:#82889c;
    margin:2px 2px;
    width:3px;
    float:left;
}
.days_list .row .dots.last {
    
   color:transparent;
}
.days_list .input_01, .csstbl.off_02 .days_list .input_01 {
   float:left;
   text-align:center;
   margin: 0px 5px 8px 5px;
   width:34px; 
   border-radius: 4px;
   padding: 5px 4px 5px 4px;
}




.dpcust.ui-datepicker {
     max-width:226px;
     background:#eef0f0;
     padding:12px 19px 16px 19px;
     font-family: 'Conv_helveticaneuecyr-roman'
}

.dpcust.ui-datepicker .ui-datepicker-next {
    right: -5px;
}
.dpcust.ui-datepicker .ui-datepicker-prev {
    left:-5px;
}

.dpcust.ui-datepicker table, .dpcust.ui-datepicker .ui-datepicker-title {
    font-size:14px;
}
.dpcust.ui-datepicker .ui-datepicker-title {
    font-family: 'helveticaneuecyrbold';

}
.dpcust .ui-widget-header {
    background:none;
    border:0px;
    color:#49565c;
    font-weight:normal;
}

.dpcust.ui-datepicker th {
    font-size:12px;
}


.dpcust .ui-widget-header .ui-icon {
    background-repeat: no-repeat;
    background-position:center center;
}
.dpcust.ui-datepicker th, .dpcust .ui-state-default, 
.dpcust .ui-widget-content .ui-state-default, 
.dpcust .ui-widget-header .ui-state-defaul {
      font-weight: normal;
      border-color:transparent;
}
.dpcust .ui-state-hover,
.dpcust.ui-widget-content .ui-state-hover,
.dpcust .ui-widget-header .ui-state-hover,
.dpcust .ui-state-focus,
.dpcust .ui-widget-content .ui-state-focus,
.dpcust .ui-widget-header .ui-state-focus {
	
        background:#97b5ea;
	color: #fff;
}
.dpcust .ui-state-default, 
.dpcust .ui-widget-content .ui-state-default, 
.dpcust .ui-widget-header .ui-state-default {
    background:none;
    color:#49565c;
}
.dpcust .ui-widget-header  .ui-state-hover  {
    background: transparent;
    border-color: transparent;
}

.dpcust .ui-widget-header  .ui-datepicker-next  .ui-icon.ui-icon-circle-triangle-e,
.dpcust .ui-widget-header  .ui-datepicker-next.ui-state-hover  .ui-icon.ui-icon-circle-triangle-e
 {
    
    background-image:url(../img/dpicon_right.png);
}
.dpcust .ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
    background-image:url(../img/dpicon_left.png);
}

.dpcust .ui-state-highlight, .dpcust .ui-widget-content .ui-state-highlight, .dpcust .ui-widget-header .ui-state-highlight {
    background:#97b5ea;
    color:#fff;
    border-color: transparent;
}

.dpcust.ui-datepicker td span, .dpcust.ui-datepicker td a {
    text-align:center;
}
.dpcust.ui-datepicker td span, .dpcust.ui-datepicker td a {
    padding:5px 4px; 
}

.outcities .outer-sel.cust_22 {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
}
.outcities.st_22 .tabcit {
    text-align:left;
}
.outcities.st_22 .tabcit tr th:first-child {
   
    width:10%;
}
.outcities.st_22 .tabcit tr th:nth-child(2) {
   
    width:16%;
}
.outcities.st_22 .tabcit tr th:nth-child(3) {
  
    width:15%;
}
.outcities.st_22 .tabcit tr th:nth-child(4) {
  
    width:16%;
}
.outcities.st_22 .tabcit tr th:nth-child(5) {
  
    width:10%;
}
.outcities.st_22 .tabcit tr th:nth-child(6) {
  
    width:35%;
}

.space_fix {
    height:200px;
}
.butki {
    font-size:12px;
    text-transform: uppercase;
    overflow:Hidden;
}
.butki.right {
    float:right;
}
.butki .itm {
    margin:0px 0px 14px 0px;
    text-decoration: none;
    cursor:pointer;
    color:#fff;
    background-color:#b3cdfb;
    float:left;
    padding:15px 40px;
    display:block;
}
.butki .itm:nth-child(1) {
    border-right:1px solid #fff;
}   
.butki .itm:hover,.butki .itm:focus {
     background-color:#97b5ea;
}

.nothline {
    
}
