html, body {
    
    height: 100%;
}
body {
    font-family: 'Conv_SFUIText-RegularG3'; 
}
h2 {
    font-size:18px;
}
h3 {
    font-size:14px;
}

 .row:before,  .row:after {
    display:table;
    content:'';
}
 .row:after {
    clear:both;
}


body.login_page {
    background-color:#f4f4f4;
    background-image:url('../img/bg.png');
    background-repeat:repeat;
}

.wrapper {
    min-width:1024px;
    max-width:1600px;
    margin:0 auto;
    min-height: 100%;
    position: relative;
}

.content.spone {
    padding-bottom:60px;
}


.footer {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
}
.footer.spone {
    height:60px; 
}
.barrower {
    float:left;
    margin-right:20px;
}
.barrower:before, .barrower:after {
    content:'';
    display:table;
}
.barrower:after {
    clear:both;
}
.logform  {
    padding-top:90px;
    margin:0px 0px 0px 0px;
    text-align:center;
}

.logform .form {
    position:relative;
    padding:0px 0px 0px 0px;
    margin:0 auto;
    width: 251px;
    box-sizing:border-box;
}
.logform .pick {
    display:block;
}
.logform .pick img  {
    max-width:100%;
    height:auto;
    margin:0px 0px 10px 0px;
}

.logform .form input[type=text], .logform .form input[type=password] {
    letter-spacing: 1px;
    font-family: 'Conv_SFUIText-BoldG1';
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    color: #b8c3c9; 
    display: inline-block;
    font-size: 12px;
    height: 42px;
    padding: 10px 40px 10px 12px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    width:100%;
    margin:15px auto 15px auto;
    box-sizing:border-box;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.logform .form input[type=password] {
    font-size:14px;
}
.logform .form .note {
    color:#ff9797;
    font-size:11px;
    font-family: 'Conv_SFUIText-Italic';
    padding:8px 10px;
    text-align:left;
    display:block;
    position:absolute;
    right:-142px;
    top:15px;
    border:1px solid #ff9797;
    border-radius:3px;
    line-height: 1.2em;
    
}
.logform .form .note:before {
    content:'';
    position:absolute;
    top:50%;
    margin-top:-7px;
    left:-6px;
    display:block;
    width:8px;
    height:14px;
    background:url(../img/mescorn.png) 0 0px no-repeat;
}
.logform .form .line {
    position:relative;
}
.logform .form input[type=text]:focus, .logform .form input[type=password]:focus   {
      color:#919191;
      border-color:#bdc9d3;
}
.logform .form input[type=text]:focus::-webkit-input-placeholder, .logform .form input[type=password]:focus::-webkit-input-placeholder  {
     color:#919191;

} 
.logform .form input[type=text].error {
    border-color:#e9acac;
}

.logform .form input.ulogin {
   
    background-position:16px center;
}

.logform .form input[type=text]::-webkit-input-placeholder, .logform .form input[type=password]::-webkit-input-placeholder {color:#b8c3c9;   opacity:1;}
.logform .form input[type=text]::-moz-placeholder, .logform .form input[type=password]::-moz-placeholder           {color:#b8c3c9;   opacity:1;}/* Firefox 19+ */
.logform .form input[type=text]:-moz-placeholder, .logform .form input[type=password]:-moz-placeholder            {color:#b8c3c9;   opacity:1;}/* Firefox 18- */
.logform .form input[type=text]:-ms-input-placeholder, .logform .form input[type=password]:-ms-input-placeholder      {color:#b8c3c9;   opacity:1;}
.logform .form input[type=submit], .bttn {
    border-bottom:2px solid #263f79;
    display:inline-block;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    
    
    font-family: 'Conv_SFUIText-BoldG1';
   
}
.logform .form input[type=submit] {
    padding:12px 48px 14px 48px;
    margin: 13px auto 0 auto;
}
.logform .form input[type=submit], .bttn  {
        background:#97b5ea;
    }
    .bttn.black {
        border-bottom-color:#191c26;
        background:#3f4352;
    }
    .logform .form input[type=submit]:focus, .bttn:focus   {
    background:#6c91d1 !important; 
    }
    .bttn.black:focus {
        background:#3f4352 !important;
    }
    .logform .form input[type=submit]:active, .bttn:active {
        background:#6c91d1 !important; 
    }

    .logform .form input[type=submit]:hover, .bttn:hover {
        background:#6c91d1;
    }
    
    
    .buts.alleft {
        text-align:left;
    }
    .buts.alright {
        text-align:right;
    }
    .buts {
        margin:20px 0px 20px 0px;
    }
    .buts .bttn {
        padding:12px 20px 14px 20px;
        margin: 10px 9px 10px 9px;
        display:inline-block;
    }
    .buts .bttn:last-child {
        margin-right:0px;
    }
    .bttn.black:hover {
         background:#3f4352;
        }
    
    .bttn {
        font-weight: normal;
        text-transform: uppercase;
    }

 .subtplace {
    color:#fff; 
    width:100%;
    text-align:center;
    display:block;
    margin:20px 0px;
    font-size:12px;
    color:#d2d2d2;
}

.subtplace a {
    text-decoration: none;
    color:#fff;
}

.sprite {
    margin:0px auto 19px auto;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-10_ic {
    width: 16px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-11_ic {
    width: 18px;
    height: 20px;
    background-position: -31px -5px;
}

.sprite-12_ic {
    width: 16px;
    height: 16px;
    background-position: -59px -5px;
}

.sprite-13_ic {
    width: 16px;
    height: 20px;
    background-position: -85px -5px;
}

.sprite-14_ic {
    width: 19px;
    height: 17px;
    background-position: -5px -35px;
}

.sprite-15_ic {
    width: 20px;
    height: 17px;
    background-position: -34px -35px;
}

.sprite-16_ic {
    width: 24px;
    height: 22px;
    background-position: -64px -35px;
}

.sprite-17_ic {
    width: 22px;
    height: 22px;
    background-position: -98px -35px;
}

.sprite-18_ic {
    width: 20px;
    height: 17px;
    background-position: -5px -67px;
}

.sprite-19_ic {
    width: 25px;
    height: 18px;
    background-position: -35px -67px;
}

.sprite-1_ic {
    width: 20px;
    height: 16px;
    background-position: -70px -67px;
}

.sprite-2_ic {
    width: 19px;
    height: 17px;
    background-position: -100px -67px;
}

.sprite-3_ic {
    width: 15px;
    height: 17px;
    background-position: -5px -94px;
}

.sprite-4_ic {
    width: 18px;
    height: 17px;
    background-position: -70px -94px;
}

.sprite-5_ic {
    width: 21px;
    height: 15px;
    background-position: -98px -94px;
}

.sprite-6_ic {
    width: 28px;
    height: 18px;
    background-position: -111px -5px;
}

.sprite-7_ic {
    width: 19px;
    height: 19px;
    background-position: -130px -33px;
}

.sprite-8_ic {
    width: 22px;
    height: 22px;
    background-position: -130px -62px;
}

.sprite-9_ic {
    width: 14px;
    height: 18px;
    background-position: -129px -94px;
}

.opsidebar {
    min-height:100%;
    overflow:hidden;
    float:left;
    font-family: 'Conv_helveticaneuecyr-roman';
    background:#3f4352;
    
}
.opsidebar  .inner {
    width:176px;
}
.opsidebar.collapsed {
   display:none;
   
}
.opsidebar.uncollapse {
    width:50px;
}
.opsidebar .key:first-child {
    border-top:0px;
}
.opsidebar .key {
    display:block;
    border-top:1px solid #565c69;
    border-bottom:1px solid #2d3341;
    color:#fff;
    text-transform: uppercase;
    position:relative;
}
.opsidebar .key:last-child {
     border-bottom:0px;
     
}
.opsidebar .key:last-child:after {
    background:none;
}
.opsidebar .key > span {
    display:block;
    font-size:12px;
    padding:20px 0px 18px 12px;
}
.opsidebar.uncollapse .key > span {
     padding:12px 0px 0px 0px;
}
.opsidebar .key:before, .opsidebar .key:after {
    content:'';
    position:absolute;
    height:1px;
    display:block;
    z-index:1;
    width:100%;    
} 
.opsidebar .key:before {
    top:-.14em;
    background:#2d3341;
}
.opsidebar .key:after {
    bottom:-.14em;
    background:#565c69;;
}

.opsidebar ul li {
    padding:9px 0px 10px 12px;
}
.opsidebar ul li:first-child {
    padding-top:12px;
}
.opsidebar.uncollapse ul li:last-child {
     padding-bottom:14px;
}
.opsidebar ul li:last-child {
    padding-bottom:14px;
}
.opsidebar ul li a {
    
    text-decoration:none;
    font-size:14px;
    color:rgba(255,255,255,.49);
    
}
.cabtop {
    font-family: 'Conv_helveticaneuecyr-roman';
    color:#fff;
    overflow:hidden;
    height:64px;
    background:#2e3240;
}
.navtogg {
    left:12px;
    top:25px;
    position:absolute;
    cursor: pointer;
    display:block;
    width:15px;
    height:15px;
    background-repeat: no-repeat;
    background-position:center;
    background-image:url(../img/navopen.png);
}
.navtogg.open {
    background-image:url(../img/closenav_ic.png);
    left:14px;
}
.cabtop .uprof {
    float:left;
    font-size:12px;
    margin:0px 0px 0px 50px;  
   
}
.cabtop .uprof img {
    margin-top:16px;
    float:left;
}
.cabtop .uprof .fio {
      margin:0px 0px 4px 0px;
      display:block;
}
.cabtop .uprof .fio a {
    color:#fff;
    text-decoration: none;
}
.cabtop .uprof .job {
     color:#7a7d8a;
     display:block;
}
.cabtop .uprof .space {
    float:left;
    margin:22px 0px 0px 6px;
}
.cabtop .logout {
    padding:20px 0px 0px 0px;
    float:right;
}
.cabtop .logout span {
    margin:0px 12px 0px 0px;
    float:left;
}
.cabtop .logout a {
    
    color:#fff;
    font-size:14px;
}
.cabtop .logout .outlink {
     margin-right:15px;
     float:left;
     display:block;
     width:20px;
     height:22px;
     background:url(../img/logout_ic.png) no-repeat;
   
}

.mainside {
    margin-right:10px;
    overflow:hidden;
}

.emptypick {
    margin:210px 25px;
    text-align:center;
}

.crubs {
    
}
h2 {
    font-size:18px;
}
.crubs {
    padding:23px 0px 14px 0px;
}
.crubs h2 {
    padding:10px 0px 0px 0px;
    font-family: 'Conv_SFUIText-BoldG1';
    color:#2e3240;
}
.crubs .ht {
    font-size:12px;
    margin:0px 0px 0px 0px;
    color:#3f4352;
    font-family: 'Conv_helveticaneuecyr-roman';
    display:block;
}
.tabcit  {
    border-collapse: separate;
    border-spacing: 0;
    color:#82889c;
    text-align:center;
    font-size:14px;
    font-family: 'Conv_helveticaneuecyr-roman';
    width:100%;
}
.tabrad tr th:first-child  {
    border-radius: 4px 0px 0px 0px;
}
.tabrad tr th:last-child  {
   border-radius: 0px 4px 0px 0px;
}
.tabrad tr td:first-child {
    border-left:1px solid #d5dde9;
}
.tabrad tr td:last-child {
    border-right:1px solid #d5dde9;
}
.tabrad tr:last-child td {
     border-bottom:1px solid #d5dde9
}
.tabrad tr:last-child td:first-child {
    border-radius: 0px 0px 0px 4px;
    border-bottom:1px solid #d5dde9
}
.tabrad tr:last-child td:last-child {
    border-radius: 0px 0px 4px 0px;
    border-bottom:1px solid #d5dde9
}

.tabcit th {
    font-family: 'Conv_SFUIText-BoldG1';
    color:#515669;
    background-color:#d5dde9;
    padding:14px 0px;
}
.tabrad tr.cval td {
     border-top:1px solid #d5dde9;
}
.tabrad tr.cmon td {
    border-top:1px solid #d5dde9;
}
.tabcit  tr.cmon {
    background-color:#f9fafc;
}

.tabcit tr td {
    padding:10px 0px;
}
.tabcit tr td  a {
  color:#82889c;
}
.tabcit tr td  a:hover {
  color:#3fa4f9;
  text-decoration: none;
}
.tabcit.tc_1  tr td:nth-child(1), .tabcit.tc_1  tr th:nth-child(1) {
    text-align:left;
    padding:0px 0px 0px 15px;
    width:1%;
    white-space: nowrap;
}

.tabcit.tc_2 th {
    
}
.tabcit.tc_2  tr td:nth-child(1) {
    text-align:left;
}
.tabcit.tc_2  tr th:nth-child(1) {
    background-color:#d5dde9;
}
.tabcit.tc_2  tr th {
    background-color:transparent;
}
.tabcit.tc_2  tr td:nth-child(1):first-child {
  /*  background-color:#d5dde9; */
}
.tabcit.tc_1  tr td:nth-child(2) {
        font-family: 'Conv_SFUIText-BoldG1';
}
.tabcit.tc_1  tr th:nth-child(4) {
    text-align:left;
}
.tabcit.tc_1  tr td:nth-child(4) {
    width:140px;
    text-align:left;
}

.tabcit.tc_1  tr {
   
}
.tabcit .st_1 {
    color:#fff;
    background-color:#b3cdfb;
}
.tabcit .st_2 {
    color:#fff;
    background-color:#97b5ea;
}


.csstbl {
   
    border-radius:4px;
    border:1px solid #d5dde9;
    color: #82889c;
    text-align: left;
    font-size: 14px;
    font-family: 'Conv_helveticaneuecyr-roman';
}
.csstbl.mar_02 {
     margin-bottom:20px;
}
.csstbl .th {
    text-align:center;
    font-family: 'Conv_SFUIText-BoldG1';
    color: #515669;
    padding: 14px 0px;
    border-bottom:1px solid #d5dde9;
    box-sizing:border-box;
}
.csstbl .th.first {
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: #d5dde9;

}

.cnt .row .col {
    float:left;
}
.cnt .row .col.half {
    width:50%;
}
.cnt .row .col.full {
    width:100%;
}

/*custom select*/
.outer-sel {
        margin: 20px 1% 15px 2px;
}

.outer-sel .s-hidden {
    visibility:hidden;
    padding-right:0px;
    width:90%;
}
.outer-sel .select {
    height:18px;  
    cursor:pointer;
    display:inline-block;
    position:relative;
    border-bottom: 1px dotted #82889c;
 }
.outer-sel .styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding:2px 10px 2px 0px;
    color:#82889c;
    
}
.outer-sel .styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:4px solid transparent;
    border-color:#82889c transparent transparent transparent;
    position:absolute;
    top:7px;
    right:0px;
}
.styledSelect:active, .styledSelect.active {
   
}
.outer-sel .options {
      
    display:none;
    width:130px;
    position:absolute;
    top:27px;
    right:0;
    left:-34px;
    z-index:999;
    margin:0 0;
    padding:8px 0;
    list-style:none;
    background-color:white;
    border-radius: 4px;
   
    -webkit-box-shadow: -1px 1px 7px 2px rgba(0,0,0,.08);
 -moz-box-shadow: -1px 1px 7px 2px rgba(0,0,0,.08);
 box-shadow: -1px 1px 7px 2px rgba(0,0,0,.08);

}
.outer-sel .options:after {
    content:'';
    top:-7px;
    right:10px;
    width:10px;
    height: 7px;
    position:absolute;
    background:url(../img/dropcorner.png) no-repeat;
}
.outer-sel .options li {
    font-size:14px;
    color:#82889c;
    margin:0 0;
    padding:8px 12px;
}
.outer-sel .options li:hover {
    background-color:#39f;
    color:white;
}
  /*custom select end */

.csstbl .col {
    
    border-bottom:1px solid #d5dde9;
}
.csstbl  .row:last-child .col {
    border-bottom:0px;
    
}
.csstbl  .colone {
  
}
.csstbl strong {
    /*helvet bold*/
    font-weight: normal;
}
.csstbl  .tit {
    margin:20px 1% 20px 12px;
    width:40%;
    float:left;
    display:block;
}

.list_5 .icos {
    cursor:pointer;
    margin:10px 12px 20px 12px;
    display:block;
    width:24px;
    height:24px;
}
.list_5 .icos.plus {
    background:url(../img/plus_icos.png) no-repeat;
}
.list_5 .tit.st_01 {
    margin-top:21px;
    margin-bottom:6px;
}
.list_5 .tit.st_02 {
    margin-top:0px;
    margin-bottom:0px;
}

.csstbl  .tit.full {
     width:100%;
}
.csstbl  .tit, .panenet .tit {
    line-height: 1.3em;
     color:#515669;
}
.csstbl .col.full .tit {
    margin-left:1%;
}
.csstbl  .tit.bold {
   
    font-family: 'helveticaneuecyrbold';
    color:#515669;
}
.csstbl .row .col {
    box-sizing: border-box;
   
}
.csstbl .updated {
    float:left;
    display:block;
}
.csstbl .updated .tit {
    width:auto;
    margin-left:0px;
    display:inline-block;
}
.csstbl .tit a {
    color:#3992f7;
}

.csstbl  .tit.mar02 {
  
    margin-right:1.5%;
}
.csstbl  .tit.st_1 {
    width:auto;
}
.csstbl  .tit.font_2 {
    color:#82889c; 
}
.csstbl  .tit.font_1 {
    color:#515669;
}
.csstbl  .tit.st_1.st_03 {
    margin-left:5px;
}
.csstbl .tit.w2 {
    width:32%;
}
.csstbl .tit.w3 {
    width:54%;
}
.updated.mar_02 {
     margin:0px 12px;
}
.csstbl .updated input[type=text] {
    float:right;
    
}
.csstbl .right {
    float:right;
}
.csstbl .left {
    float:left;
}

.tit.seldr {
    text-decoration: none;
    position:relative;
    padding-right:15px;
    border-bottom:1px dotted #82889c;
}
.tit.seldr .ic {
    top:5px;
    background:url(../img/drop_down_ic.png) no-repeat center  2px;
    display:inline-block;
    width:19px;
    height:18px;
    position:absolute;
}
.csstbl .tit.seldr .ic {
    background-color:#fff;
}
.subpane .tit.seldr .ic {
    background-color:#f9fafc;
}
.subpane .outer-sel {
    float:left;
    margin:10px 53px 15px 17px; 
 }
.subpane  .outer-sel .options {
    left:0px;
 }
.subpane .outer-sel .options:after {
     right:80%;
 }
.csstbl .input_01 {
    margin:12px 10px 7px 12px; 
}
.input_wrap {
    margin-left:12px;
}
.input_wrap .input_01 {
    margin-left:0px;
    margin-right:0px;
    width:100%;
}
.input_01 {
    color:#82889c;
    box-sizing:border-box;
    width:143px;
    border-radius: 3px;
    padding:8px 12px;
    border:1px solid #d5dde9;
}
.input_01.st_02 {
    padding:7px 12px;
}
.input_01.long {
   
}
.input_01.big {
    margin:0px 0px 15px 0px;
    padding:10px 12px;
}
.csstbl .w_01 {
    float:right;
    width:143px;
}
.csstbl .tleft {
    text-align:left;
}

.soclist .subpane {
    background-color:#f9fafc;
    padding:17px 0px 0px 0px;
    border:1px solid #d5dde9;
}

.subpane .h3 {
    text-transform: uppercase;
    font-family: 'helveticaneuecyrbold';
    margin:0px 0px 16px 0px;
    color:#515669;
    
}
.subpane  .tit {
    margin:8px 10px 10px 0px;
    width:145px;
    float:left;
    font-size:14px;
}
.subpane .input_01 {
    width:calc(100% - 170px);
}

.panenet {
    font-size:14px;
    color:#515669;
}
.panenet .netlink {
    margin:11px 0px 11px 0px;
}
.panenet  .soclist {
    
}

.subpane.list .tit {
    width:auto;
    margin-left:17px;
    margin-right:79px;
}
.subpane.list .updated {
   
}
