html, body {
    height: 100%;
}
body {
    font-family: 'Conv_SFUIText-RegularG3'; 
}
body.login_page {
    background-color:#f4f4f4;
    background-image:url('../img/bg.png');
    background-repeat:repeat;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.content.spone {
    padding-bottom:60px;
}


.footer {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
}
.footer.spone {
    height:60px; 
}
.barrower {
    float:left;
    margin-right:20px;
}
.barrower:before, .barrower:after {
    content:'';
    display:table;
}
.barrower:after {
    clear:both;
}
.logform  {
    padding-top:90px;
    margin:0px 0px 0px 0px;
    text-align:center;
}

.logform .form {
    position:relative;
    padding:0px 0px 0px 0px;
    margin:0 auto;
    width: 251px;
    box-sizing:border-box;
}
.logform .pick {
    display:block;
}
.logform .pick img  {
    max-width:100%;
    height:auto;
    margin:0px 0px 10px 0px;
}

.logform .form input[type=text], .logform .form input[type=password] {
    letter-spacing: 1px;
    font-family: 'Conv_SFUIText-BoldG1';
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    color: #b8c3c9; 
    display: inline-block;
    font-size: 12px;
    height: 42px;
    padding: 10px 40px 10px 12px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    width:100%;
    margin:15px auto 15px auto;
    box-sizing:border-box;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.logform .form input[type=password] {
    font-size:14px;
}
.logform .form .note {
    color:#ff9797;
    font-size:11px;
    font-family: 'Conv_SFUIText-Italic';
    padding:8px 10px;
    text-align:left;
    display:block;
    position:absolute;
    right:-142px;
    top:15px;
    border:1px solid #ff9797;
    border-radius:3px;
    line-height: 1.2em;
    
}
.logform .form .note:before {
    content:'';
    position:absolute;
    top:50%;
    margin-top:-7px;
    left:-6px;
    display:block;
    width:8px;
    height:14px;
    background:url(../img/mescorn.png) 0 0px no-repeat;
}
.logform .form .line {
    position:relative;
}
.logform .form input[type=text]:focus, .logform .form input[type=password]:focus   {
      color:#919191;
      border-color:#bdc9d3;
}
.logform .form input[type=text]:focus::-webkit-input-placeholder, .logform .form input[type=password]:focus::-webkit-input-placeholder  {
     color:#919191;

} 
.logform .form input[type=text].error {
    border-color:#e9acac;
}

.logform .form input.ulogin {
   
    background-position:16px center;
}
.logform .form input.upass {
    background-image:url('../img/pass_ic.png');
    background-position: right 9px  center;

}
.logform .form input[type=text]::-webkit-input-placeholder, .logform .form input[type=password]::-webkit-input-placeholder {color:#b8c3c9;   opacity:1;}
.logform .form input[type=text]::-moz-placeholder, .logform .form input[type=password]::-moz-placeholder           {color:#b8c3c9;   opacity:1;}/* Firefox 19+ */
.logform .form input[type=text]:-moz-placeholder, .logform .form input[type=password]:-moz-placeholder            {color:#b8c3c9;   opacity:1;}/* Firefox 18- */
.logform .form input[type=text]:-ms-input-placeholder, .logform .form input[type=password]:-ms-input-placeholder      {color:#b8c3c9;   opacity:1;}
.logform .form input[type=submit] {
    border-top:2px solid #263f79;
    display:inline-block;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding:12px 48px 14px 48px;
    margin: 13px auto 0 auto;
    font-family: 'Conv_SFUIText-BoldG1';
    background: #6c91d1; /* Old browsers */
}
    .logform .form input[type=submit]:focus   {
    background: #b3bdc5 !important; 
    background: -moz-linear-gradient(top,  #b3bdc5 1%, #a4afb8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b3bdc5 1%,#a4afb8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b3bdc5 1%,#a4afb8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bdc5', endColorstr='#a4afb8',GradientType=0 ); /* IE6-9 */

    }

    .logform .form input[type=submit]:hover {
        background: #ecf0f2; /* Old browsers */
        background: -moz-linear-gradient(top,  #ecf0f2 0%, #c7d1d9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ecf0f2 0%,#c7d1d9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ecf0f2 0%,#c7d1d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f2', endColorstr='#c7d1d9',GradientType=0 ); /* IE6-9 */

    }

 .subtplace {
    color:#fff; 
    width:100%;
    text-align:center;
    display:block;
    margin:20px 0px;
    font-size:12px;
    color:#d2d2d2;
}

.subtplace a {
    text-decoration: none;
    color:#fff;
}

.sprite {
    margin:0px auto 19px auto;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-10_ic {
    width: 16px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-11_ic {
    width: 18px;
    height: 20px;
    background-position: -31px -5px;
}

.sprite-12_ic {
    width: 16px;
    height: 16px;
    background-position: -59px -5px;
}

.sprite-13_ic {
    width: 16px;
    height: 20px;
    background-position: -85px -5px;
}

.sprite-14_ic {
    width: 19px;
    height: 17px;
    background-position: -5px -35px;
}

.sprite-15_ic {
    width: 20px;
    height: 17px;
    background-position: -34px -35px;
}

.sprite-16_ic {
    width: 24px;
    height: 22px;
    background-position: -64px -35px;
}

.sprite-17_ic {
    width: 22px;
    height: 22px;
    background-position: -98px -35px;
}

.sprite-18_ic {
    width: 20px;
    height: 17px;
    background-position: -5px -67px;
}

.sprite-19_ic {
    width: 25px;
    height: 18px;
    background-position: -35px -67px;
}

.sprite-1_ic {
    width: 20px;
    height: 16px;
    background-position: -70px -67px;
}

.sprite-2_ic {
    width: 19px;
    height: 17px;
    background-position: -100px -67px;
}

.sprite-3_ic {
    width: 15px;
    height: 17px;
    background-position: -5px -94px;
}

.sprite-4_ic {
    width: 18px;
    height: 17px;
    background-position: -70px -94px;
}

.sprite-5_ic {
    width: 21px;
    height: 15px;
    background-position: -98px -94px;
}

.sprite-6_ic {
    width: 28px;
    height: 18px;
    background-position: -111px -5px;
}

.sprite-7_ic {
    width: 19px;
    height: 19px;
    background-position: -130px -33px;
}

.sprite-8_ic {
    width: 22px;
    height: 22px;
    background-position: -130px -62px;
}

.sprite-9_ic {
    width: 14px;
    height: 18px;
    background-position: -129px -94px;
}

.opsidebar {
    min-height:100%;
    overflow:hidden;
    float:left;
    font-family: 'Conv_helveticaneuecyr-roman';
    background:#3f4352;
    
}
.opsidebar  .inner {
    width:176px;
}
.opsidebar.collapsed {
   display:none;
   
}
.opsidebar.uncollapse {
    width:50px;
}
.opsidebar .key:first-child {
    border-top:0px;
}
.opsidebar .key {
    display:block;
    border-top:1px solid #565c69;
    border-bottom:1px solid #2d3341;
    color:#fff;
    text-transform: uppercase;
    position:relative;
}
.opsidebar .key:last-child {
     border-bottom:0px;
     
}
.opsidebar .key:last-child:after {
    background:none;
}
.opsidebar .key > span {
    display:block;
    font-size:12px;
    padding:20px 0px 18px 12px;
}
.opsidebar.uncollapse .key > span {
     padding:12px 0px 0px 0px;
}
.opsidebar .key:before, .opsidebar .key:after {
    content:'';
    position:absolute;
    height:1px;
    display:block;
    z-index:1;
    width:100%;    
} 
.opsidebar .key:before {
    top:-.14em;
    background:#2d3341;
}
.opsidebar .key:after {
    bottom:-.14em;
    background:#565c69;;
}

.opsidebar ul li {
    padding:9px 0px 10px 12px;
}
.opsidebar ul li:first-child {
    padding-top:12px;
}
.opsidebar.uncollapse ul li:last-child {
     padding-bottom:14px;
}
.opsidebar ul li:last-child {
    padding-bottom:14px;
}
.opsidebar ul li a {
    
    text-decoration:none;
    font-size:14px;
    color:rgba(255,255,255,.49);
    
}
.cabtop {
    font-family: 'Conv_helveticaneuecyr-roman';
    color:#fff;
    overflow:hidden;
    height:64px;
    background:#2e3240;
}
.navtogg {
    left:12px;
    top:25px;
    position:absolute;
    cursor: pointer;
    display:block;
    width:15px;
    height:15px;
    background-repeat: no-repeat;
    background-position:center;
    background-image:url(../img/navopen.png);
}
.navtogg.open {
    background-image:url(../img/closenav_ic.png);
    left:14px;
}
.cabtop .uprof {
    float:left;
    font-size:12px;
    margin:0px 0px 0px 50px;  
   
}
.cabtop .uprof img {
    margin-top:16px;
    float:left;
}
.cabtop .uprof .fio {
      margin:0px 0px 4px 0px;
      display:block;
}
.cabtop .uprof .fio a {
    color:#fff;
    text-decoration: none;
}
.cabtop .uprof .job {
     color:#7a7d8a;
     display:block;
}
.cabtop .uprof .space {
    float:left;
    margin:22px 0px 0px 6px;
}
.cabtop .logout {
    padding:20px 0px 0px 0px;
    float:right;
}
.cabtop .logout span {
    margin:0px 12px 0px 0px;
    float:left;
}
.cabtop .logout a {
    
    color:#fff;
    font-size:14px;
}
.cabtop .logout .outlink {
     margin-right:20px;
     float:left;
     display:block;
     width:20px;
     height:22px;
     background:url(../img/logout_ic.png) no-repeat;
   
}

.mainside {
    overflow:hidden;
}

.emptypick {
    margin:210px 25px;
    text-align:center;
}