
@font-face {
	font-family: 'Conv_helveticaneuecyr-roman';
	src: url('helveticaneuecyr-roman/helveticaneuecyr-roman.eot');
	src: local('☺'), url('helveticaneuecyr-roman/helveticaneuecyr-roman.woff') format('woff'), url('helveticaneuecyr-roman/helveticaneuecyr-roman.ttf') format('truetype'), url('helveticaneuecyr-roman/helveticaneuecyr-roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_SFUIText-RegularG3';
	src: url('sfui-text-regular-G3/SFUIText-RegularG3.eot');
	src: local('☺'), url('sfui-text-regular-G3/SFUIText-RegularG3.woff') format('woff'), url('sfui-text-regular-G3/SFUIText-RegularG3.ttf') format('truetype'), url('sfui-text-regular-G3/SFUIText-RegularG3.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_SFUIText-BoldG1';
	src: url('sfui-text-bold-G1/SFUIText-BoldG1.eot');
	src: local('☺'), url('sfui-text-bold-G1/SFUIText-BoldG1.woff') format('woff'), url('sfui-text-bold-G1/SFUIText-BoldG1.ttf') format('truetype'), url('sfui-text-bold-G1/SFUIText-BoldG1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SFUIText-Italic';
	src: url('sfui-text-italic/SFUIText-Italic.eot');
	src: local('☺'), url('sfui-text-italic/SFUIText-Italic.woff') format('woff'), url('sfui-text-italic/SFUIText-Italic.ttf') format('truetype'), url('sfui-text-italic/SFUIText-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
    font-family: 'helveticaneuecyrblack';
    src: url('helveticaneuecyr-black/helveticaneuecyr-black-webfont.eot');
    src: url('helveticaneuecyr-black/helveticaneuecyr-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-black/helveticaneuecyr-black-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-black/helveticaneuecyr-black-webfont.woff') format('woff'),
         url('helveticaneuecyr-black/helveticaneuecyr-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrblack_italic';
    src: url('helveticaneuecyr-blackitalic/helveticaneuecyr-blackitalic-webfont.eot');
    src: url('helveticaneuecyr-blackitalic/helveticaneuecyr-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-blackitalic/helveticaneuecyr-blackitalic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-blackitalic/helveticaneuecyr-blackitalic-webfont.woff') format('woff'),
         url('helveticaneuecyr-blackitalic/helveticaneuecyr-blackitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.eot');
    src: url('helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrbold_italic';
    src: url('helveticaneuecyr-bolditalic/helveticaneuecyr-bolditalic-webfont.eot');
    src: url('helveticaneuecyr-bolditalic/helveticaneuecyr-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-bolditalic/helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-bolditalic/helveticaneuecyr-bolditalic-webfont.woff') format('woff'),
         url('helveticaneuecyr-bolditalic/helveticaneuecyr-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyritalic';
    src: url('helveticaneuecyr-italic/helveticaneuecyr-italic-webfont.eot');
    src: url('helveticaneuecyr-italic/helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-italic/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-italic/helveticaneuecyr-italic-webfont.woff') format('woff'),
         url('helveticaneuecyr-italic/helveticaneuecyr-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('helveticaneuecyr-light/helveticaneuecyr-light-webfont.eot');
    src: url('helveticaneuecyr-light/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-light/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-light/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('helveticaneuecyr-light/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



/*
@font-face {
    font-family: 'helveticaneuecyrlight_italic';
    src: url('helveticaneuecyr-lightitalic-webfont.eot');
    src: url('helveticaneuecyr-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-lightitalic-webfont.woff') format('woff'),
         url('helveticaneuecyr-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('helveticaneuecyr-medium-webfont.eot');
    src: url('helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('helveticaneuecyr-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('helveticaneuecyr-thin-webfont.eot');
    src: url('helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrthin_italic';
    src: url('helveticaneuecyr-thinitalic-webfont.eot');
    src: url('helveticaneuecyr-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-thinitalic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-thinitalic-webfont.woff') format('woff'),
         url('helveticaneuecyr-thinitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuecyrultralight';
    src: url('helveticaneuecyr-ultralight_0-webfont.eot');
    src: url('helveticaneuecyr-ultralight_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-ultralight_0-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-ultralight_0-webfont.woff') format('woff'),
         url('helveticaneuecyr-ultralight_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*/